*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin: 10px;
}

#slider{
    margin: 0 auto;
    height: 225px;
    width: 400px;
    overflow: hidden;
    box-shadow: 2px 2px 5px black;
}

#slides{
    width: 500%;
    height: 225px;
    display: flex;
}

#slides input{
    display: none;
}

.slide{
    width: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide img{
    height: 100%;
    width: 100%;
}

#navigation-manual{
    position: absolute;
    width: 400px;
    display: flex;
    justify-content: center;
    gap: 4px;
    align-items: center;
    margin-top: 240px;
}

.manual{
    border: 2px solid #000;
    height: 10px;
    width: 10px;
    cursor: pointer;
    transition: background-color .2s linear;
    border-radius: 50%;
}

.manual:hover{
    border-color: #000;
    background-color: #000;
}

/*Scroller*/

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

#radio5:checked ~ .first{
    margin-left: -80%;
}

.first{
    transition: margin .5s ease-in-out;
}

/*Indicador de pagina*/

#radio1:checked ~ #navigation-manual #b1{
    background-color: #000;
}

#radio2:checked ~ #navigation-manual #b2{
    background-color: #000;
}

#radio3:checked ~ #navigation-manual #b3{
    background-color: #000;
}

#radio4:checked ~ #navigation-manual #b4{
    background-color: #000;
}

#radio5:checked ~ #navigation-manual #b5{
    background-color: #000;
}